{% extends 'base.html' %}
{% block title %} TASKS {% endblock title %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-6">
        <h1>Tasker</h1>
        <h3>Активных задач: {{ task_list.count }}</h2>
        {% for task in task_list %}
          <ul>
            Задача: {{ task.name }}
            <li>Важность: {{ task.importance }}</li>
            <li>Автор: {{ task.author.get_full_name }}</li>
            <li>Задача создана: {{ task.created_at }}</li>
              <a href="{% url 'tasks:task_detail' task.id %}">
                Подробнее
              </a>
          </ul>
        {% endfor %}
      </div>            <!-- Closing div for the 1st column -->
      <div class="col-3">
      </div>            <!-- Closing div for the 2nd column -->
      <div class="col-3">
        <h1>Личные задачи</h1>
      </div>            <!-- Closing div for the 3rd column -->
    </div>              <!-- Closing div for the row -->
  </div>                <!-- Closing div for the container -->
  {% endblock content %}


