{% extends 'base.html' %}
{% block title %} TASK_DETAIL {% endblock title %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-6">
        <h1>Подробнее о задаче</h1>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Задача #{{ task.id }}: {{ task.name }}
          </li>
          <li class="list-group-item">
            Важность: {{ task.importance }}
          </li>
          <li class="list-group-item">
            Описание: {{ task.description }}
          </li>
        </ul>
      </div>
      <div class="col-6">
        <h1>Комментарии:</h1>
        <ul class='list-group list-group-flush'>
          {% for comment in comment_list %}
            <li class="list-group-item">
              <b>{{ comment.author.username }}</b>: {{ comment.text }}
            </li>
          {% endfor %}
        </ul>
        <a>Добавить комментарий</a>
      </div>
    </div>
  </div>
{% endblock content %}