{% extends 'base.html' %}
{% block title %} TASK_DETAIL {% endblock title %}
{% block content %}
  <div class="container py-5">
    <h1>Подробнее о задаче</h1>
    <div class="row">
      <div class="col-6">
        <ul>
          Задача #{{ task.id }}: {{ task.name }}
          <li>Важность: {{ task.importance }}</li>
          <li>Описание: {{ task.description }}</li>
          <li>Комментарии:
            {% for comment in comment_list %}
              <ul>
                {{ comment.author.get_full_name }}: {{ comment.text }}
              </ul>
            {% endfor %}
          </li>
          <a>Добавить комментарий</a>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}